public class next
{
    public static double IF(boolean tst, double left, double right)
    {
        if(tst)
            return left;
        else
            return right;
    }

    public static double IF(double tst, double left, double right)
    {
        if(tst != 0.0)
            return left;
        else
            return right;
    }

    public static void main(String[] args) {
        double ha, hb, gfa, gfb, gaa, gab, wa, wb, la, lb, da, db, ma, mb;
        ##STATS##
        double result =
        ##PRED##
        ;
        System.out.format("%f\n", result);
    }
}
